@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Quantico:wght@700&family=Solway:wght@400;500&family=Source+Serif+Pro:wght@300;400;600&display=swap');

$primary-colour: #4B5320;
$cta-colour: #9DB619;
$active-link: #91A3B0;
$white: #FFFAF0;

.footer{
    background-color: $primary-colour;
    width: 100%;
    position: relative;
    bottom: 0;
    p{
        margin-bottom: -.4px;
        padding: 7px;
        font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
        font-size: .85em;
        text-align: center;
        color: $white;
    }
}

@media only screen and (min-width: 1080px){
    .footer{
        
    position: fixed;
    bottom: 0;
    }
}